  <aside class="bg-green">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Visão</h2>
            <hr class="light">
                <p class="text-faded">A visão da empresa é ser referência em soluções em arquivologia no Brasil.</p>
            <h2>Missão</h2>
            <hr class="light">
                <p class="text-faded">Sua Missão é promover a melhoria arquivística das empresas brasileiras, por
meio da praticidade e inovação.</p>
            <h2>Valores</h2>
            <hr class="light">
                <p class="text-faded">Eficiência, Proatividade, Valorização humana, Preocupação com a satisfação do cliente, postura colaborativa, Transparência e comprometimento e responsabilidade sustentável </p>
             
          </div>
      </div>
  </aside>
