  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
                <h2 class="section-heading">Missão</h2>
                <hr class="light">
                <p class="text-faded">Digitar</p>
            
            
                <h2 class="section-heading">Visão</h2>
                <hr class="light">
                <p class="text-faded">Digitar</p>
            
            
                <h2 class="section-heading">Valor</h2>
                <hr class="light">
                <p class="text-faded">Digitar</p>
            
             
            </div>
        </div>
    </div>
</section>
