<div class="container">
        <h2 class="mbr-section-title align-center mbr-fonts-style display-2"><strong>Benefícios</strong> do Digital Arquivos</h2>
        
        <div class="row justify-content-center pt-3">
            <div class="card p-3 col-12 col-md-6 col-xl-3 col-lg-3">
                <div class="card-wrap">
                    <div class="card-img pb-4 align-center">
                        <span class="mbr-iconfont icon54-v1-document-file"></span>
                    </div>
                    <div class="card-box">
                        
                        <p class="mbr-text mbr-fonts-style align-center display-7">
                            Aumento de produtividade com a imediata localização de documento           
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-xl-3 col-lg-3">
                <div class="card-wrap">
                    <div class="card-img pb-4 align-center">
                        <span class="mbr-iconfont mbri-protect"></span>
                    </div>
                    <div class="card-box">
                        
                        <p class="mbr-text mbr-fonts-style align-center display-7">
                           Minimização do risco de extravio do documento ao reduzir sua manipulação física
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-xl-3 col-lg-3">
                <div class="card-wrap">
                    <div class="card-img pb-4 align-center">
                        <span class="mbr-iconfont icon54-v4-download"></span>
                    </div>
                    <div class="card-box">
                        
                        <p class="mbr-text mbr-fonts-style align-center display-7">
                            Prevenção contra desastres ao garantir o backup digital dos documentos em papel</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-xl-3 col-lg-3">
                <div class="card-wrap">
                    <div class="card-img pb-4 align-center">
                        <span class="mbr-iconfont imind-arrow-around"></span>
                    </div>
                    <div class="card-box">
                        
                        <p class="mbr-text mbr-fonts-style align-center display-7">
                            Gerenciamento do ciclo de vida dos documentos de acordo com a expiração de suas validades<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
