<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quem somos</h2>
                <hr class="light">
                <p class="text-faded">Uma plataforma unificada de arquivologia, que permite reduzir custos. melhorar a qualidade do atendimento.</p>
                <a href="#services" class="btn btn-default btn-xl">Serviços</a>
            </div>
        </div>
    </div>
</section>
