<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fale conosco</h2>
                <hr class="primary">
                <p>A equipe Digital Arquivos está aguardando pelo seu contato.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:comercial@digitalarquivos.com.br">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/{{ site.github_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
        

            <html>
<head><meta charset="UTF-8"></head>
<form action="http://formmail.kinghost.net/formmail.cgi" method="POST"> 
 <input type="hidden" name="recipient" value="comercial@digitalarquivos.com.br"> <!-- Pode ser qualquer endereço de email -->
 <input type="hidden" name="redirect" value="http://seudominio"> <!-- Após o envio, o usuário será redirecionado para a página configurada aqui -->
 <input type="hidden" name="subject" value="teste de assunto">  <!-- Assunto da mensagem -->
 <input type="hidden" name="email" value="email@doseudominio">   <!-- Deve ser uma conta de email ativa em seu domínio -->
 
 <p> 
 Nome:<br /> 
 <input type="text" size="30" name="nome"> 
 </p>   
 
 <p>
 E-mail:<br /> 
 <input type="text" size="30" name="replyto"> 
 </p>   
 
 <p> 
 Comentários:<br /> 
 <input type="text" size="35" name="Comentarios"> 
 </p>   
 
 <p> 
 <input type="submit" name="BTEnvia" value="Enviar"> 
 <input type="reset" name="BTApaga" value="Apagar"> </p> 
 </form>
 
</html> 
            

            
    </div>
</section>
