<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Fale conosco</h2>
                <hr class="primary">
                <p>A equipe Digital Arquivos está aguardando pelo seu contato.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:comercial@digitalarquivos.com.br">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://instagram.com/{{ site.github_username }}">
            <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
        
            <!DOCTYPE html>
<html>
<head>
    <title>--Formulário Contato--</title>
    <meta charset="utf-8" />
    <!--   <link href="ContatoEstilo.css" rel="stylesheet" media="all" />
    <script src="JavaScript1.js"></script>-->
 
</head>
<body>
    <form name="meu_form">
 
        <p class="nome">
            <input type="text" id="nomeid" placeholder="Neom" required="required" name="nome" />
            <label for="nome">Nome</label>
        </p>
        <p class="fone">
            <input type="text" id="foneid" placeholder="(xx)xx-xx-xx-xx" name="telefone" />
            <label for="fone">Fone</label>
 
        </p>
        <p>
            <input type="email" id="emailid" placeholder="fulano@mail.com" name="email" />
            <label for="email">Email</label>
        </p>
        <p>
            <textarea placeholder="Deixe sua opnião"></textarea>
        </p>
        <p class="submit">
            <input type="submit" onclick="Enviar();" value="Enviar" />
        </p>
 
    </form>
</body>
</html>

            
    </div>
</section>
